header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    gap: 50px;
}

header h1{
    font-size: 4rem;
}

header p{
    font-size: 1.5rem;
}

header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.key-words-container{
    display: inline-flex;
    flex-direction: column;
    max-height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    overflow: hidden;
}

.key-words{
    display: flex;
    flex-direction: column;
    color: rgb(86, 110, 86);

    animation: keyWords 5s infinite linear;
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@keyframes keyWords {
    0%{
        transform: translateY(0);
    }
    10%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(-33px);
    }
    40%{
        transform: translateY(-33px);
    }
    50%{
        transform: translateY(-33px);
    }
    60%{
        transform: translateY(-33px);
    }
    70%{
        transform: translateY(-65px);
    }
    80%{
        transform: translateY(-65px);
    }
    90%{
        transform: translateY(-65px);
    }
    100%{
        transform: translateY(-95px);
    }
}

@media screen and (max-width: 840px){
    header{
        grid-template-columns: 1fr;
        margin: 50px auto;
        text-align: center;
    }
}
